:root {
    --primary-color: #2E7D32;
    --secondary-color: #1565C0;
    --background-color: #121212;
    --text-color: #FFFFFF;
    --border-color: #424242;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.main-title {
    font-size: 2rem;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1rem;
}

.section-title {
    font-size: 1.5rem;
    color: #FFFFFF; /* Alterado para branco */
}

.subsection-title {
    font-size: 1.2rem;
    color: var(--text-color);
}

.description {
    font-size: 1rem;
    color: #B0B0B0;
    text-align: center;
}

.footer {
    text-align: center;
    margin-top: 2rem;
    color: #B0B0B0;
}

.sidebar-header {
    font-size: 1.5rem;
    color: var(--primary-color);
}
